:root {
  --primary-color : #ff652f;
  --secondary-color : #14A76C;
  --tertiary-color : #242424;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card-body-border{
  border:1px solid #eee;
}
.background{
  background-color: whitesmoke;
}
.background-body{
  background-color:snow ;
}
.margin-padding{
  margin-top: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.margin-bottom{
  margin-bottom: 0.5em;
}
.text-aling{
  text-align: center;
}
.no-padding{
  padding: 0 !important;
}
.back{
  background-color: #242424;
}

/* Clases para el scrollbutton */
.scrollTop {
  position: fixed; 
  width: auto;
  bottom: 20px;
  height: 4em !important;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.4s;
  transition: opacity 0.5s;
  opacity: 0.9;
  stroke: var(--secondary-color);
  fill: var(--secondary-color);
}

.scrollTop:hover{
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
.containerbutton{
  justify-content: flex-end;
  display: flex;
  margin-right: 1em;
}

.titulo{
  color: var(--primary-color);
}