:root {
  --primary-color : #ff652f;
  --secondary-color : #14A76C;
  --tertiary-color : #242424;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card-body-border{
  border:1px solid #eee;
}
.background{
  background-color: whitesmoke;
}
.background-body{
  background-color:snow ;
}
.margin-padding{
  margin-top: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.margin-bottom{
  margin-bottom: 0.5em;
}
.text-aling{
  text-align: center;
}
.no-padding{
  padding: 0 !important;
}
.toolbar{
  font-size:100%;
  display: inline-block;
  padding-top:15px;

}
.back{
  background-color: #242424;
}
.toolbar {
  text-decoration: none;
  color:#fff;
  margin-left: 5em;
}


.toolbar .icon{
  height:40px;
  margin-bottom: 0.5em;
  width:auto;
  fill: var(--primary-color)
}

.brand{
  display: inline-block;
  background-color: #242424;
  opacity: 0;
  z-index:50;
  border:1px solid #242424;
  height: 0;
  width: 0;
  padding:20px 60px;
  overflow: hidden;
  border-radius: 250px;
  margin-top:12vh;
  transition: all 0.7s ease-in-out;
}
.show{
  opacity: 0.9;
  transform: translateX(100);
  height: auto;
  width: auto;
}
@keyframes show{
  0%{opacity:0;height:0;width:0}
  25%{opacity: 0.3;height:700px;width:40px}
  50%{opacity: 0.6;height: 100px;width:60px}
  100%{opacity: 0.9;height:auto;width:auto}
}

#nav p{
  color:#fff;
  font-weight: 500;
  font-weight: bold;
  position: sticky;
}
@media (max-width: 992px) {
  #nav{
    /* padding-top: 2em; */
    background-color: #24242488 !important;
  }

  .toolbar:hover{
    outline: 2px solid #242424a1;
    background-color: #242424a1 !important;

  }
}
@media (min-width: 992px) {
  #nav{
    /* padding-top: 2em; */
    background-color: transparent !important;
  }
  .toolbar{
    transition: all 0.4s ease-in-out !important;
  }
  .toolbar:hover{
    border-bottom:1px solid #fff;
    /* border-left:1px solid #747474;
    border-right: 1px solid #747474; */
    padding:0 10px;
  }
}

/* Clases para el scrollbutton */
.scrollTop {
  position: fixed; 
  width: auto;
  bottom: 20px;
  height: 4em !important;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.4s;
  transition: opacity 0.5s;
  opacity: 0.9;
  stroke: var(--secondary-color);
  fill: var(--secondary-color);
}

.scrollTop:hover{
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
.containerbutton{
  justify-content: flex-end;
  display: flex;
  margin-right: 1em;
}

.titulo{
  color: var(--primary-color);
}